/* reset */
html,body {
  margin: 0;
  padding: 0;
  font-family: Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* section common start */
.section {
  position: relative;
}
.section-inner {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1240px) {
  .section-inner {
    width: 960px;
  }
}
@media screen and (max-width: 1000px) {
  .section-inner {
    width: auto;
    margin: 0 15px;
  }
}
/* section common end */

/* section hello start */
.section-hello {
  background: #4c4c4c;
  overflow: hidden;
}
.section-hello:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -200px;
  z-index: 0;
  background: #76726e;
}
.section-hello-body {
  position: relative;
  height: 600px;
  background: url('./images/banner.jpg') no-repeat center;
  background-size: auto 100%;
}
.section-hello .section-inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
}
.section-hello-intro {
  width: 400px;
  padding-top: 100px;
  text-align: right;
}
.section-hello-intro h1 {
  margin: 0 0 1.15em;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: 4px;
  font-size: 34px;
  color: #fff;
}
.section-hello-intro h1 strong{
  margin-left: 10px;
  padding: 0 12px 0 15px;
  border-radius: 4px;
  background: #fff;
  color: #3d668f;
}
.section-hello-intro h2 {
  margin: 0 0 0.5em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 30px;
  color: #fff;
}
.section-hello-intro p {
  margin: 10px 0;
  line-height: 16px;
  letter-spacing: 2px;
  font-size: 14px;
  color: #fff;
}
.section-hello-intro p strong {
  padding: 0 .2em;
  font-weight: 800;
  font-size: 1.2em;
}
.section-hello-intro p s{
  margin-right: .2em;
  opacity: .5;
}

@media screen and (max-width: 1044px) {
  .section-hello-body {
    height: 350px;
  }
  .section-hello-intro {
    padding-top: 50px;
  }
}
@media screen and (max-width: 660px) {
  .section-hello-body {
    height: 240px;
  }
  .section-hello-intro {
    padding-top: 20px;
  }
  .section-hello-intro h1 {
    font-size: 25px;
  }
  .section-hello-intro h2 {
    font-size: 20px;
  }
  .section-hello-intro p {
    font-size: 12px;
  }
}
/* section hello end */

/* section company start */
.section-company {
  padding: 100px 0 70px;
  background: #e3f3ff;
  color: #184c81;
}
.section-company .caption {
  padding-top: 40px;
  text-align: center;
}
.section-company .caption h2{
  margin: 0 0 10px;
  line-height: 1em;
  letter-spacing: 2px;
  font-size: 38px;
}
.section-company .caption p {
  margin: 0;
}
.section-company .zoom-building {
  padding: 40px 0 0;
}
.section-company .zoom-building img {
  display: block;
  margin: auto;
  width: 300px;
}
.section-company .others p {
  margin: 0;
  line-height: 2em;
  text-align: center;
  font-size: 18px;
}
.section-company .others p:nth-child(1) {
  letter-spacing: 2px;
}
.section-company .others p:nth-child(2) {
  font-size: .88em;
}
.section-company .others p strong {
  margin: 0 .2em;
}
/* section company end */

/* section hobby start */
.section-hobby {
  border-top: 1px solid #d1e8fa;
  background: #fffce5;
}
.section-hobby-caption {
  padding: 120px 0 100px;
}
.section-hobby-caption h2 {
  margin: 0 0 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 38px;
  color: #005299;
}
.section-hobby-caption ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}
.section-hobby-caption ul li {
  display: inline-block;
  margin: 0 .2em;
  font-size: 18px;
  color: #4d85b0;
}
/* hobby info*/
.hobby-info {}
.hobby-info h3 {
  margin: 0 0 .3em;
  font-size: 30px;
}
.hobby-info h3 small {
  margin-right: 10px;
  font-size: .65em
}
.hobby-info p {
  margin: 0 0 1.5em;
  font-size: 16px;
}
.hobby-info a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #333;
  text-decoration: none;
  line-height: 1em;
  font-size: 16px;
  font-weight: bold;
  transition: .2s;
}
/* hobby coding */
.hobby-coding {
  margin-bottom: 240px;
}
.hobby-coding .hobby-info {
  margin-bottom: 40px;
  text-align: center;
}
.hobby-coding .hobby-info h3 {
  color: #453008;
}
.hobby-coding .hobby-info p {
  color: #b8a37a;
}
.hobby-coding .hobby-info a {
  border-color: #b8a37a;
  color: #5c410a;
}
.hobby-coding .hobby-info a:hover {
  background: #f5ebd6;
}
.hobby-coding .hobby-info a:active {
  background: #b8a37a;
}
.hobby-coding .hobby-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.hobby-detail-item {
  background: #333;
  box-shadow: 1px 1px 20px #f6f1cb, 1px 1px 2px #fbf3b6;
}
.hobby-detail-item img{
  display: block;
  width: 100%;
  height: auto;
  background: #fff;
}
.hobby-detail-item .intro{
  padding: 18px 20px;
}
.hobby-detail-item .intro h4{
  margin: 0 0 .5em;
  line-height: 1.2em;
  font-size: 18px;
}
.hobby-detail-item .intro h4 a{
  text-decoration: none;
  color: #becce9;
}
.hobby-detail-item .intro h4 a:hover{
  text-decoration: underline;
}
.hobby-detail-item .intro p{
  margin: 0;
  line-height: 1.2em;
  font-size: 13px;
  color: #b3b3b3;
}
.hobby-coding .vue-image-filler {
  width: 216px;
}
.hobby-coding .start-page {
  width: 500px;
}
.hobby-coding .lofox {
  width: 160px;
}

@media screen and (max-width: 960px) {
  .hobby-coding .hobby-detail {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hobby-coding .start-page {
    order: 1
  }
}
/* hobby writting */
.hobby-writting {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.hobby-writting .hobby-info {
  width: 340px;
  padding: 50px 40px 0 0
}
.hobby-writting .hobby-info h3 {
  color: #0f598a;
}
.hobby-writting .hobby-info p {
  color: #94b9d1;
}
.hobby-writting .hobby-info a {
  border-color: #94b9d1;
  color: #0f598a;
}
.hobby-writting .hobby-info a:hover {
  background: #ecf4f9;
}
.hobby-writting .hobby-info a:active {
  background: #dbe2f0;
}
.hobby-writting .hobby-detail {
  width: 440px;
}
.hobby-writting .hobby-detail img{
  width: 440px;
  height: 480px;
}
/* hobby photograph */
.hobby-photograph .hobby-info {
  margin-bottom: 40px;
  text-align: center;
}
.hobby-photograph .hobby-info h3 {
  margin: 0 0 .3em;
  font-size: 28px;
  color: #453008;
}
.hobby-photograph .hobby-info h3 small {
  margin-right: 10px;
}
.hobby-photograph .hobby-info p {
  margin: 0 0 1.5em;
  font-size: 16px;
  color: #b8a37a;
}
/* section hobby end */
.hobby-photograph {
  padding-bottom: 100px
}
.hobby-photograph .hobby-detail {
  display: flex;
  gap: 30px;
}
.photograph-group {
  width: 370px;
  height: 500px;
  flex-grow: 1;
  border: 1px solid #333;
}